<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Index{% endblock %}</title>
    <!-- Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        ul.dropdown-content li:hover {
            background: rgba(130, 130, 130, 0.05);
        }
    </style>
    <!-- Custom CSS -->
    {% block custom_css %}
    {% endblock %}
</head>
<body>
    {% include 'wordbuilder/profile_dopdown.html' with id='dropdown-profile' %}
    {% include 'wordbuilder/profile_dopdown.html' with id='dropdown-profile-mobile' %}
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo">Mnemosyne</a>
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Trainings</a></li>
                <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown-profile"><i class="small material-icons">account_box</i></a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav red lighten-2 white-text" id="mobile-nav-menu">
        <li><a href="#">Catalog</a></li>
        <li><a href="">Trainings</a></li>
        <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
        {% if user.is_authenticated %}
            <li>
                <a class="dropdown-trigger" href="#" data-target="dropdown-profile-mobile">
                    Profile
                </a>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-trigger').dropdown({coverTrigger: false});
            $('.sidenav').sidenav();
            $(".dropdown-content>li>a").css("color", "white");
            $(".sidenav>li>a").css("color", "white");
        });
    </script>
  <!-- Custom JavaScript -->
  {% block custom_js %}
  {% endblock %}
</body>
</html>