{% verbatim %}
<div id="modalCrop" class="modal">

    <div class="modal-header red lighten-2 yellow-text text-accent-2">
        <div class="row">
            <h3 class="center">Crop the photo</h3>
        </div>
    </div>
    <div id="modal-content" class="modal-content">
        {% endverbatim %}
        <img src="" id="image">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-teal red lighten-2 js-crop-and-upload">Crop the photo</button>
    </div>

</div>
