{% extends 'wordbuilder/base.html' %}

{% block title %}Trainings{% endblock %}

{% block custom_css %}
    <style>
        .input-field {
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="{% url 'trainings' %}" class="breadcrumb">Trainings</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
           <div class="col s12 m8 offset-m2 l6 offset-l3 center">
               <div class="input-field">
                   <select>
                       <option value="0" selected>All words</option>
                       {% for wordset in wordsets %}
                            <option value="{{ wordset.id }}">{{ wordset.title }}</option>
                       {% endfor %}
                    </select>
                    <label>Words to train</label>
                </div>
                {% include 'wordbuilder/training_card.html' with training_name='Word constructor' url_name='word_constructor' %}
                {% include 'wordbuilder/training_card.html' with training_name='Pronunciation' url_name='pronunciation' %}
                {% include 'wordbuilder/training_card.html' with training_name='Definitions' url_name='definitions' %}
           </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        $(document).ready(function() {
          $('select').formSelect();

          $('button').click(event => {
              const wordSetPk = $('select option:selected').val();
              const urlName = event.currentTarget.dataset.urlName;
              window.location.replace(`${window.location.origin}/trainings/${urlName}/${wordSetPk}/`);
          });
        });
    </script>
{% endblock %}
