<li id="word-entry-{{ id }}" class="collection-item red lighten-2">
    <div class="row">
        <div class="col s12">
            <div>
                <a class="pronunciation tooltipped"
                   data-position="top" data-tooltip="[{{ word.pronunciation.phonetic_spelling }}]"
                   data-pronunciation-url="{{ word.pronunciation.audio }}">
                    <i class="small material-icons left">volume_up</i>
                </a>
                <span class="word yellow-text text-accent-2">{{ word.word.name }}</span>
                <span class="pros blue-text text-lighten-4 ">{{ word.lexical_category.name|lower }}</span>
                    <a href="" class="delete" data-item-id="word-entry-{{ id }}" data-user-word-id="{{ word.id }}">
                        <i class="small material-icons right">delete</i>
                    </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        {{ word.sense.definitions.first.text }}
                    </div>
                    <div class="collapsible-body white">
                        <ol>
                           {% for example in word.sense.examples.all %}
                               <li>{{ example.text }}</li>
                           {% endfor %}
                        </ol>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>