{% extends 'wordbuilder/training_tmp.html' %}

{% load static %}

{% block title %}Word constructor{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'wordbuilder/css/word_constructor.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <a href={% url 'index' %} class="breadcrumb">Home</a>
    <a href={% url 'trainings' %} class="breadcrumb">Trainings</a>
    <a href='#' class="breadcrumb">Word constructor</a>
{% endblock %}

{% block card-content %}
    <p class="definition"></p>

    <div class="input">
    </div>

    <div class="pronunciation">
        <p class="pronunciation-spelling"></p>
        <button class="pronunciation-audio btn-floating red lighten-2" data-pronunciation-url="">
            <i class="material-icons">volume_up</i>
        </button>
    </div>
{% endblock %}

{% block card-action %}
    <button id="show-answer" class="btn waves-effect waves-light red lighten-2">I don't know</button>
    <span class="blue-grey-text text-lighten-2">Enter</span>
    <button id="next" class="btn waves-effect waves-light red lighten-2 center">Next<i class="material-icons right">arrow_forward</i></button>
    <input type="hidden" name="category" value="{{ category }}">
{% endblock %}

{% block training-js %}
    <script src="{% static 'wordbuilder/js/word_constructor.js' %}"></script>
{% endblock %}
