{% extends 'wordbuilder/base.html' %}

{% block title %}Mnemosyne - Login{% endblock %}

{% block breadcrumbs %}
    <a href={% url 'index' %} class="breadcrumb">Home</a>
    <a href='#' class="breadcrumb">Login</a>
{% endblock %}

{% block content %}
    <div class="container">
       <div class="row">
           <div class="col s12 m8 offset-m2 l6 offset-l3">
               <form method="post">
                   {% include 'registration/form.html' with button_text='Log in' %}
                   <a class="right" href="{% url 'signup' %}"> New user? </a><br>
                   <a class="right" href="{% url 'password_reset' %}"> Forgot password? </a>
               </form>
           </div>
       </div>
    </div>
{% endblock %}
